/.metadata/
/JavaBasics/.settings/
/JavaBasics/bin/
/JavaBasics/.classpath
/JavaBasics/.project
/AimsProject/.settings/
/AimsProject/bin/
/AimsProject/.classpath
/AimsProject/.project
/OtherProjects/.settings/
/OtherProjects/bin/
/OtherProjects/.classpath
/OtherProjects/.project